* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242643;
    color: #fff;
    font-family: "Red Hat Text", sans-serif;
}

/*

    CABEÇALHO

*/

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    /* margin-bottom: 40px; */
}

/* header img {
    width: 150px;
} */

.logo_repocomics {
    font-family: "Sansation", sans-serif;
    color: #fff;
    font-weight: bold;
}

header p.logo_repocomics {
    font-size: 18px;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    text-align: center;
    justify-items: right;
    /* background-color: burlywood; */
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    position: relative;
}

header nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #fa6632;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.3s ease-in-out;
}

header nav ul li a:hover:after {
    width: 120%;
}

/*

    SEÇÃO INICIAL - APRESENTAÇÃO DO SITE

*/

.container_initial {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
    /* background-color: yellowgreen; */
    padding: 40px;
    margin-bottom: 40px;
}

.container_initial section.introduction {
    display: grid;
    grid-template-columns: 1fr;
}

.container_initial section.introduction h1 {
    font-size: 3em;
}

.container_initial section.introduction .btns {
    /* background-color: brown; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    align-items: end;
}

.container_initial section.introduction .btn_publisher {
    height: 50%;
    box-shadow: 2px 2px 8px #fa67322d;
    background-color: transparent;
    border: 2px solid #fa6632;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); */
    position: relative;
}

.container_initial section.introduction .btn_publisher:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background-color: #fa6632;
    border: none;
}

.container_initial section.introduction .btn_publisher:active {
    transform: scale(1);
}

.container_initial section.imgs_profile_person {
    /* background-color: yellowgreen; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: right;
    justify-content: right; /* Centraliza a grid horizontalmente */
    gap: 16px;
}

.container_initial section.imgs_profile_person div {
    width: 125px;
    height: 125px;
    background-color: antiquewhite;
    border-radius: 8px;
}

/*

    SEGUNDA SEÇÃO - PERSONAGENS PREDILETOS

*/

.container_fav_characters {
    background-color: #fa6632;
    padding: 40px;
    padding-bottom: 80px;
}

.container_fav_characters h2 {
    font-size: 2em;
    margin-bottom: 48px;
}

.container_fav_characters .fav_characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-color: #242643; */
    justify-items: center;
    gap: 8px;
}

.container_fav_characters .fav_characters .img_character {
    width: 175px;
    height: 250px;
    background-color: antiquewhite;
}

/*

    TERCEIRA SEÇÃO - QUADRINHOS RECOMENDADOS

*/

.container_quadrinhos {
    /* background-color: yellow; */
    padding: 40px;
    padding-bottom: 80px;
}

.container_quadrinhos h2 {
    font-size: 2em;
    margin-bottom: 48px;
}

.container_quadrinhos .lista_quadrinhos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-color: #242643; */
    justify-items: center;
    gap: 8px;
}

.container_quadrinhos .lista_quadrinhos .img_quadrinho {
    width: 175px;
    height: 250px;
    background-color: antiquewhite;
}

/*

    FOOTER

*/

footer {
    background-color: #1c1c1c;
    color: #f0f0f0;
    padding: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer-top {
    display: flex;
    justify-content: center;
    gap: 64px;
    /* background-color: #1e90ff; */
}

.footer-section {
    width: 400px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #fa6632;
}

.footer-section p,
.footer-section a,
.footer-bottom p {
    font-size: 0.95rem;
    color: #dcdcdc;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 8px;
}

.footer-section a {
    color: #1e90ff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #fa6632;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 15px;
    font-size: 0.9rem;
    color: #aaa;
}
