@media (max-width: 600px) {
    /* 
        =========================
            CABEÇALHO
        =========================
    */

    header {
        /* position: relative; */
        padding: 3vw 2vw;
    }

    header p.logo_repocomics {
        padding-bottom: 2vw;
        font-size: 5vw;
    }

    header p.logo_repocomics a {
        font-size: 5vw;
    }

    header .hamburger {
        display: block;
        cursor: pointer;
        user-select: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #444; */
        padding: 1vw 0;
        margin-top: 1vw;
    }

    /* Novo estilo para o ícone hambúrguer */
    .hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 6vw;
        height: 4vw;
        cursor: pointer;
    }

    .hamburger-icon .line {
        width: 100%;
        height: 0.4vw;
        background-color: var(--cor-texto);
        transition: all 0.3s ease;
    }

    /* Quando o menu está aberto (transforma em X) */
    #menu-toggle:checked + .hamburger .hamburger-icon .line:nth-child(1) {
        transform: rotate(45deg) translate(1.05vw, 1.4vw);
        /* background-color: aqua; */
    }

    #menu-toggle:checked + .hamburger .hamburger-icon .line:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .hamburger .hamburger-icon .line:nth-child(3) {
        transform: rotate(-45deg) translate(1.2vw, -1.4vw);
    }

    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        /* margin-top: 1.5vw; */
        background-color: var(--cor-terciaria);
        width: 100%;
        display: none;
        flex-direction: column;
        text-align: center;
        padding-top: 3vw;
        padding-bottom: 3vw;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid var(--cor-terciaria);
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    header nav ul li a {
        font-size: 4.5vw;
    }

    header nav ul li a::after {
        height: 0.8vw;
    }

    header nav ul li span.ativo {
        font-size: 4.5vw;
    }

    header nav ul li span.ativo::after {
        height: 0.8vw;
    }

    /* Exibe o menu quando o checkbox está marcado */
    #menu-toggle:checked + .hamburger + nav {
        display: flex;
    }
    /* 
    =========================
        BANNER PRINCIPAL
    =========================
*/
    .banner_marvel {
        background-size: cover;
        height: 70vw;
    }

    .banner_marvel .logo_marvel {
        width: 35vw;
    }

    /* 
    =========================
        CONTEÚDO PRINCIPAL
    =========================
*/
    main {
        width: 90%;
        padding: 4vw 0px;
    }

    main .introduction_marvel p {
        font-size: 4vw;
        text-align: justify;
        margin-bottom: 4vw;
        text-indent: 10vw;
        line-height: 7vw;
    }

    /*
    =========================
        SEÇÕES: PERSONAGENS, EQUIPES, QUADRINHOS
    =========================
*/
    .section_comics {
        padding: 5vw 3vw;
    }

    .section_comics h2 {
        font-size: 7vw;
        margin-bottom: 4vw;
    }

    /* Grade de cards */
    .list_characters {
        grid-template-columns: 1fr;
        gap: 3vw 2vw;
    }

    /* Cada card de personagem/equipe/quadrinho */
    .character {
        border-radius: 8px;
        padding: 1.5vw;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
        width: 100%;
        max-width: 65vw;
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .character:hover {
        cursor: pointer;
        transform: scale(1.02);
        background-color: var(--cor-destaque);
    }

    .character_img {
        aspect-ratio: 4/5;
    }

    .character p {
        font-size: 4vw;
    }

    /*
    =========================
        SEÇÃO: EQUIPE
    =========================
*/

    .equipe {
        max-width: 75vw;
    }

    .equipe_img {
        aspect-ratio: 4/3;
    }

    /* 
    =========================
        SUGESTÃO DE USUARIO
    ========================= 
*/
    .sugestao_usuario {
        padding: 5vw 3vw;
        margin: 5vw auto;
    }

    .sugestao_usuario h2 {
        font-size: 6vw;
        margin-bottom: 1.5vw;
    }

    .sugestao_usuario p {
        font-size: 3vw;
        margin-bottom: 4vw;
        color: #aaa;
    }

    .sugestao_usuario form {
        gap: 3vw;
    }

    .sugestao_usuario form label {
        font-size: 4vw;
    }

    .sugestao_usuario input,
    .sugestao_usuario textarea {
        padding: 3vw;
        border: 1px solid #aaa;
        border-radius: 6px;
        font-size: 3vw;
    }

    .sugestao_usuario button {
        padding: 3.5vw;
        border-radius: 6px;
        font-size: 3.5vw;
    }

    /* 
        =========================
            RODAPÉ 
        =========================
    */
    footer {
        padding: 4vw;
    }

    .footer-top {
        gap: 5vw;
        justify-content: space-between;
    }

    .footer-section {
        width: 40vw;
    }

    .footer-section h3 {
        margin-bottom: 3vw;
        font-size: 4vw;
    }

    .footer-bottom {
        margin-top: 8vw;
        border-top: 1px solid #444;
        padding-top: 3vw;
        font-size: 1vw;
        color: #aaa;
    }

    footer p,
    footer a {
        font-size: 3vw;
    }
}
