@media (max-width: 600px) {
    /* 
        =========================
            CABEÇALHO
        =========================
    */

    header {
        /* position: relative; */
        padding: 3vw 2vw;
    }

    header p.logo_repocomics {
        padding-bottom: 2vw;
        font-size: 5vw;
    }

    header p.logo_repocomics a {
        font-size: 5vw;
    }

    header .hamburger {
        display: block;
        cursor: pointer;
        user-select: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #444; */
        padding: 1vw 0;
        margin-top: 1vw;
    }

    /* Novo estilo para o ícone hambúrguer */
    .hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 6vw;
        height: 4vw;
        cursor: pointer;
    }

    .hamburger-icon .line {
        width: 100%;
        height: 0.4vw;
        background-color: var(--cor-texto);
        transition: all 0.3s ease;
    }

    /* Quando o menu está aberto (transforma em X) */
    #menu-toggle:checked + .hamburger .hamburger-icon .line:nth-child(1) {
        transform: rotate(45deg) translate(1.05vw, 1.4vw);
        /* background-color: aqua; */
    }

    #menu-toggle:checked + .hamburger .hamburger-icon .line:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .hamburger .hamburger-icon .line:nth-child(3) {
        transform: rotate(-45deg) translate(1.2vw, -1.4vw);
    }

    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        /* margin-top: 1.5vw; */
        background-color: var(--cor-terciaria);
        width: 100%;
        display: none;
        flex-direction: column;
        text-align: center;
        padding-top: 3vw;
        padding-bottom: 3vw;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid var(--cor-terciaria);
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    header nav ul li a {
        font-size: 4.5vw;
    }

    header nav ul li a::after {
        height: 0.8vw;
    }

    header nav ul li span.ativo {
        font-size: 4.5vw;
    }

    header nav ul li span.ativo::after {
        height: 0.8vw;
    }

    /* Exibe o menu quando o checkbox está marcado */
    #menu-toggle:checked + .hamburger + nav {
        display: flex;
    }

    /*
    =========================
        SEÇÕES EM GERAL
    =========================
*/

    section {
        padding: 5vw 3vw;
    }

    h2 {
        font-size: 5vw;
        margin-bottom: 2vw;
    }

    /*
    =========================
        FILTRO DE SELEÇÃO
    =========================
*/

    .filtros-favoritos {
        margin-bottom: 1vw;
    }

    .filtros-favoritos fieldset {
        display: flex;
        gap: 3vw;
        border: 0.2vw solid var(--cor-texto);
        padding: 3vw;
        margin-bottom: 3vw;
        border-radius: 1vw;
    }

    .filtros-favoritos legend {
        font-size: 4vw;
    }

    .filtros-favoritos label {
        font-size: 3vw;
        gap: 1vw;
    }

    .filtros-favoritos input[type="checkbox"],
    .filtros-favoritos input[type="radio"] {
        width: 4vw;
        height: 4vw;
    }

    .filtros-favoritos button {
        padding: 2vw 3vw;
        border-radius: 1vw;
        font-size: 3vw;
    }

    .filtros-favoritos button:hover {
        background-color: #ff4f4f;
    }

    hr {
        border: 0;
        height: 0.4vw;
        margin: 0 3vw;
    }

    /*
    =========================
        SEÇÕES: PERSONAGENS
    =========================
*/
    .section_comics {
        text-align: center;
    }

    /* Grade de cards */
    .list_characters {
        grid-template-columns: 1fr;
        gap: 3vw 2vw;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }

    /* Cada card de personagem/equipe/quadrinho */
    .character {
        border-radius: 2vw;
        padding: 1.5vw;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
        /* width: 100%; */
        max-width: 45vw;
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .character:hover {
        cursor: pointer;
        transform: scale(1.02);
        background-color: var(--cor-destaque);
    }

    .character_img {
        aspect-ratio: 4/5;
    }

    .character p {
        font-size: 4vw;
    }

    /*
    =========================
        SEÇÕES: EQUIPES
    =========================
*/
    .equipes {
        grid-template-columns: 1fr;
        gap: 4vw 3vw;
    }

    .equipe {
        max-width: 60vw;
    }

    .equipe_img {
        width: 100%;
        aspect-ratio: 4/3;
        background-color: #eee;
        border-radius: 1vw;
    }

    /* 
        =========================
            TABELA DE HQS 
        =========================
    */
    .tabela_scroll {
        max-height: 200vw;
    }

    .tabela_scroll::-webkit-scrollbar {
        width: 1.5vw;
    }

    .hqs_personagem table {
        border: 0;
    }

    .hqs_personagem thead {
        display: none;
    }

    .hqs_personagem tbody tr {
        display: block;
        border: 1px solid #444;
        padding: 3.5vw;
    }

    .hqs_personagem tbody td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        padding: 3vw 0;
        border-bottom: 1px solid #333;
        position: relative;
        font-size: 4.5vw;
    }

    .hqs_personagem tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        color: var(--cor-destaque);
        text-align: left;
    }

    .hqs_personagem .hq_capa {
        width: 25vw;
        height: 38vw;
    }

    .favorite-toggle svg {
        width: 5vw;
        height: 5vw;
    }

    /* 
        =========================
            RODAPÉ 
        =========================
    */
    footer {
        padding: 4vw;
    }

    .footer-top {
        gap: 5vw;
        justify-content: space-between;
    }

    .footer-section {
        width: 40vw;
    }

    .footer-section h3 {
        margin-bottom: 3vw;
        font-size: 4vw;
    }

    .footer-bottom {
        margin-top: 8vw;
        border-top: 1px solid #444;
        padding-top: 3vw;
        font-size: 1vw;
        color: #aaa;
    }

    footer p,
    footer a {
        font-size: 3vw;
    }
}
