* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #242643;
    --cor-secundaria: #3d4069;
    --cor-terciaria: #1c1c1c;
    --cor-destaque: #fa6632;
    --cor-texto: #f1f1f1;

    --fonte-texto: "Red Hat Text", sans-serif;
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
}

/* 
    =========================
        CABEÇALHO 
    =========================
*/
header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--cor-principal);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--cor-terciaria);

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
}

.logo_repocomics {
    font-family: "Sansation", sans-serif;
    color: var(--cor-destaque);
    font-weight: bold;
}

header p.logo_repocomics a {
    font-size: 18px;
    color: var(--cor-destaque);
    text-decoration: none;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    text-align: center;
    justify-items: right;
}

header nav ul li a {
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 16px;
    position: relative;
    padding: 0 5px;
}

header nav ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--cor-destaque);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.3s ease-in-out;
}

header nav ul li a:hover:after {
    width: 100%;
}

header nav ul li span.ativo {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding: 0 5px;
}

header nav ul li span.ativo::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--cor-destaque);
    position: absolute;
    bottom: -2px;
    left: 0;
}

/* Oculta o checkbox do menu */
#menu-toggle {
    display: none;
}

/* Ícone do menu hamburguer */
.hamburger {
    display: none;
}

/*
    =========================
        SEÇÕES EM GERAL
    =========================
*/

section {
    padding: 24px 48px;
}

h2 {
    margin-bottom: 1em;
}

/*
    =========================
        FILTRO DE SELEÇÃO
    =========================
*/

.filtros-favoritos {
    margin-bottom: 2em;
}

.filtros-favoritos fieldset {
    display: flex;
    gap: 1em;
    border: 1px solid var(--cor-texto);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 6px;
}

.filtros-favoritos legend {
    font-weight: bold;
    color: var(--cor-destaque);
}

.filtros-favoritos label {
    display: inline-flex; /* Usar flexbox inline */
    align-items: center; /* Alinha verticalmente ao centro */
    gap: 8px; /* Espaço entre input e texto */
    cursor: pointer;
}

.filtros-favoritos input[type="checkbox"],
.filtros-favoritos input[type="radio"] {
    width: 20px;
    height: 20px;
    accent-color: var(--cor-destaque);
    cursor: pointer;
}

.filtros-favoritos button {
    background-color: var(--cor-destaque);
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.filtros-favoritos button:hover {
    background-color: #ff4f4f;
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--cor-secundaria);
    margin: 0 24px;
}

/* 
    =========================
        SEÇÕES EM GERAL
    =========================
*/

/* Grade dos cards */

.list_characters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 180px));
    gap: 12px 12px;
}

/*
    =========================
        SEÇÕES: PERSONAGENS
    =========================
*/

.character {
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    align-items: center;
}

.character:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: var(--cor-destaque);
}

.character_img {
    width: 100%;
    aspect-ratio: 2 / 3;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.character p {
    font-weight: bold;
}

/*
    =========================
        SEÇÕES: EQUIPES
    =========================
*/
.equipes {
    grid-template-columns: repeat(auto-fit, minmax(140px, 260px));
    gap: 20px 12px;
}

.equipe {
    max-width: 370px;
}

.equipe_img {
    width: 100%;
    aspect-ratio: 4/3;
    background-color: #eee;
    border-radius: 4px;
}

/*
    =========================
        SEÇÕES: QUADRINHOS
    =========================
*/

.tabela_scroll {
    max-height: 600px;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.5);
}

.tabela_scroll::-webkit-scrollbar {
    width: 6px;
}

.tabela_scroll::-webkit-scrollbar-thumb {
    background-color: var(--cor-destaque);
    border-radius: 4px;
}

.tabela_scroll::-webkit-scrollbar-track {
    background-color: var(--cor-texto);
    border-radius: 4px;
}

.hqs_personagem table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--cor-secundaria);
    border-radius: 8px;
}

.hqs_personagem th,
.hqs_personagem td {
    padding: 16px;
    text-align: left;
    font-size: 0.95em;
    vertical-align: middle;
}

td.fav-column,
th.fav-column {
    text-align: center;
}

.hqs_personagem thead {
    background-color: var(--cor-secundaria);
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.hqs_personagem tbody tr {
    background-color: #282828;
}

.hqs_personagem tbody tr:nth-child(odd) {
    background-color: var(--cor-terciaria);
}

.hqs_personagem .hq_capa {
    width: 120px;
    height: 180px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.favorite-toggle {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.favorite-toggle svg {
    fill: none;
    stroke: var(--cor-texto);
    transition: fill 0.3s, stroke 0.3s;
    cursor: pointer;
}

.favorite-toggle:hover svg {
    transform: scale(1.1);
    stroke: #f39c12;
}

.favorite-toggle input:checked + svg {
    fill: #f39c12;
    stroke: #f39c12;
}

.hqs_personagem a {
    color: var(--cor-destaque);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.hqs_personagem a:hover {
    color: #ff4f4f;
}

/* 
    =========================
        RODAPÉ 
    =========================
*/
footer {
    background-color: var(--cor-terciaria);
    color: #dcdcdc;
    padding: 20px;
}

footer a {
    color: var(--cor-destaque);
    text-decoration: none;
}

.footer-top {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.footer-section {
    width: 400px;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: var(--cor-destaque);
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 15px;
    font-size: 0.9em;
    color: #aaa;
}
