@media (max-width: 900px) {
    /* 
        =========================
            CABEÇALHO
        =========================
    */

    header {
        grid-template-columns: 1fr;
    }

    header p.logo_repocomics {
        font-size: 24px;
        text-align: center;
        padding-bottom: 24px;
    }

    header nav ul {
        justify-items: center;
    }

    /*
    =========================
        SEÇÕES EM GERAL
    =========================
*/
    section {
        padding: 24px 24px;
    }

    /* 
        =========================
            RODAPÉ
        =========================
    */
    footer h3 {
        font-size: 16px;
    }
    footer p,
    footer a {
        font-size: 12px;
    }
}
